<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingThree">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Upload Files</a>
    </h3>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
  <p> Please upload a file </p>
<!--   <form method="post", action="">
    <input type="file"/>
    Type of the attachment:
    <select class="chosen-select">
      <option value="Resume">Resume</option>
      <option value="NOA">NOA</option>
      <option value="Drivers_License">Drivers License</option>
    </select>




  </form> -->
  <%=form_for @attachment, url:attachments_path, html: { multipart: true, method: "create" } do |f|%>
    <% if @attachment.errors.any? %>
      <div>
        <%= pluralize(@attachment.errors.count,"error")%> prevented this file from being submitted:
        <ul>
          <%@attachment.errors.full_messages.each do |msg| %>
            <li><%=msg %> </li>
          <%end%>
        </ul>
      </div>  
    <%end%>
    <div>
      <%= f.file_field :file %> Type of the attachment: 
      <%= select_tag(:type, options_for_select([["Resume","Resume"], ["NOA", "NOA"],
      ["Drivers License","Drivers License" ]]))%>
      <div id="submit_button"><%= f.submit %></div>

     <!--   <select class="chosen-select" name="attachment" style="width: 30%">
          <option value="Resume">
            Resume
          </option>
          <option value="NOA">
            NOA
          </option>
          <option value="Drivers_License">
            Drivers License
          </option>

      </select> -->
    </div>
  <%end%> 
  </div>
</div>