<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class= "col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3> Personal Information </h3>
        <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
            <%= f.label :phone %><br />
            <%= f.number_field :phone %>
        </div>
        
        <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
        </div>

        <div class ="field">
          <%= f.simple_fields_for :addresses do |a| %>
            <%= a.input :address_input, label:'Mailing address' %> 
          <% end %>
        </div>
        
        <%= f.simple_fields_for :addresses do |a| %>
          <%= a.input :address_input, label: 'Billing address'%> 
        <% end %>

        <%= f.simple_fields_for :addresses do |a| %>
          <%= a.input :address_input, label:'Shipping address'%> 
        <% end %>
      

        <div class="field">
          <p> Do you have a traffic control? </p>
            <%= radio_button_tag(:has_traffic_control_ticket, "true") %>
            <%=label_tag :user_yes, "Yes" %>
            <%= radio_button_tag(:has_traffic_control_ticket, "false") %>
            <%=label_tag :user_no,  "No" %>
        </div>
        
        <div class= "field">
          <p>Do you have a vehicle? </p>
            <%= radio_button_tag(:has_vehicle, "true") %>
            <%=label_tag :user_yes, "Yes" %>
            <%= radio_button_tag(:has_vehicle, "false") %>
            <%=label_tag :user_no,  "No" %>    
        </div>        
          <h4 class="panel-title">
            Upload Your Profile Picture
          </h4>
            <div class="panel-body">
              <%=f.file_field :image %>
              <%= f.input :image_cache, as: :hidden %>
              <% if f.object.image.present?
                    image_tag f.object.image.url, class: 'image' %>
              <%end%>
            </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <p>
          <div class="btn-block btn-lg btn-success">
            <%= f.submit 'Submit' %>
          </div>
        </p>
    </div>
  </div>     
</div>

<!--------------------- Union/Role section -------------------------------------->
<div class= "col-md-8">
  <h3>Departments </h3>
    <div class ="col-md-1">
      <div>
        DGC
      </div>
    </div>




</div>
<% end %>
