<div class="page-header">
  <h1>Create profile</h1>
</div>
  <div class = "row">
    <div class="col-md-4">
      <%= render 'personalinfo' %>
    </div>
    <div class= "col-md-8 continue-registration" hidden="true">
      <%= render 'union' %>
      <%= render 'availability' %>
      <%= render 'certificates' %>
      <%= render 'filesUpload' %>
    </div>
  </div>
