<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#editSponsors" aria-expanded="false" aria-controls="editSponsors"><span class="caret rotated"></span> Sponsors</a>
    </h3>
  </div>

  <div id="editSponsors" class="panel panel-collapse collapse" role="tabpanel" aria-labelledby="editSponsors">
    <div class="panel">
      <a role ="button" data-toggle="collapse" data-parent="#accordion" href="#addSponsor" aria-expanded="false" aria-controls="addSponsor" class="btn btn-primary"><span class="caret rotated"></span> Add a new sponsor</a>
    </div>
    <div class="field panel-collapse collapse" role="tabpanel" aria-labelledby=
    "addSponsor" id="addSponsor">
      <div class="alert alert-success alert-dismissible" hidden="true" role="alert" id="add-sponsor-success"> 
        <button class="close" type="button" data-dismiss="alert"> &times;</button>
          Sponsor is Successfully added, refreshing page.
      </div>
      <%= render "sponsorForm"%>
    </div>

    <div class="field">
      <div class="alert alert-danger alert-dismissible" hidden="true" role="alert" id="delete-sponsor-success"> 
        <button class="close" type="button" data-dismiss="alert"> &times;</button>
          Sponsor is successfully deleted, refreshing page.
      </div>
      <table id="admin_sponsors_management" cellspacing="0" class="display responsive no-wrap" style="width: 100%">
        <thead>
          <tr role="row">
          <th> Sponsor Name</th>
          <th> Image</th>
          <th> Website</th>
          <th></th>
          <th></th>
          </tr>
        </thead>
        <tbody>
          <% for sponsor in @sponsors %>
            <tr>
              <th><%= sponsor.name %></th>
              <th><%= image_tag(sponsor.picture.url(:thumb)) %></th>
              <th><%= sponsor.website_url %>
              <th>
                <a role= "button" class="btn btn-primary" data-toggle="collapse" data-parent="#accordion" href="#editSponsor" aria-expanded="false" aria-controls="editSponsor" id="edit_sponsor_button" data-sponsorid="<%=sponsor.id%>"><span class="caret rotated"></span>Edit</a>
                <div class="field panel-collapse collapse" role="tabpanel" aria-labelledby=
                  "editSponsor" id="editSponsor">
                  <div class="alert alert-success alert-dismissible" hidden="true" role="alert" id="update-sponsor-success"> 
                  <button class="close" type="button" data-dismiss="alert"> &times;</button>
                  Sponsor is Successfully updated, refreshing page.
                  </div>
                  <div class="alert alert-danger alert-dismissible" hidden="true" role="alert" id="update-sponsor-error"> 
                  <button class="close" type="button" data-dismiss="alert"> &times;</button>
                  </div>     
                    <form action="/sponsors/<%=sponsor.id%>" method="put">
                      <label for="sponsor_name">Enter Your Sponsor's Name:</label>
                      <input type="text" id="update_sponsor_name" value="<%=sponsor.name%>"
                      />   
                      <h5>Upload Your Sponsor's Image:
                        <input type="file" id="update_sponsor_picture" >
                        <input type="hidden" name="image_cache">
                      </h5>
                      <label for="sponsor_website"> Enter Your Sponsor's Website:</label>
                      <input type="text" id="update_sponsor_webiste" value="<%=sponsor.website_url%>"/>
                    </form>
                    <button type="submit" class="btn btn-primary" data-dismiss="" id="update_existing_sponsor" data-sponsorid="<%=sponsor.id%>">Update</button>
                    <span id="update_sponsor" hidden="true">
                      <i class="fa fa-spinner fa-spin" style="font-size: 40px; color: gray;" ></i>
                    </span>
                </div>
              </th>

              <th><button class="btn btn-danger" id="delete_sponsor" data-sponsorID="<%=sponsor.id%>"> Delete </button></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div> 
</div>