

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#editRole" aria-expanded="false" aria-controls="editRole"><span class="caret"></span> Roles</a>
    </h3>
  </div>

  <div id="editRole" class="panel-collapse collapse" role="tabpanel" aria-labelledby="editRole">

   <div class="list-group">
      <%@roles.each do |role| %>
        <div class="list-group-item">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#edit<%=role.id%>" aria-expanded="false" aria-controls="edit<%=role.id%>">
            <%= role.name %>
          </a>
        </div>
      <% end %>

      <div class="list-group-item">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#newrole" aria-expanded="false" aria-controls="newrole">
          Create New
        </a>
      </div>

    </div>
  </div>


    <%@roles.each do |role| %>
      <div id="edit<%=role.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="edit<%=role.id%>">

        <div class="field role-info" data-role-id="<%=role.id %>">
          <h5> Role Name: </h5>
          <div class="role-name" contenteditable="true"><%=role.name %></div>
          <span class="error" hidden="true" class="role-name-error"> *Name is not valid</span>
        </div>


        <div class="field role-info" data-role-id="<%=role.id %>">
          <h5> Add to unions: </h5>
        </div>

        <div class="field role-info" data-role-id="<%=role.id %>">
          <h5> Delete Button</h5>
        </div>


      </div>
    <%end%>

      <div id="newrole" class="panel-collapse collapse" role="tabpanel" aria-labelledby="newrole">

        Here's where you make a new one! yay!
      </div>
  </div>