

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#editUnion" aria-expanded="false" aria-controls="editUnion"><span class="caret"></span> Unions</a>
    </h3>
  </div>

  <div id="editUnion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="editUnion">

   <div class="list-group">
      <%@unions.each do |union| %>
        <div class="list-group-item">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#edit<%=union.name.tr(' ','-')%>" aria-expanded="false" aria-controls="edit<%=union.name.tr(' ','-')%>">
            <%= union.name %>
          </a>
        </div>
      <% end %>

      <div class="list-group-item">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#newUnion" aria-expanded="false" aria-controls="newUnion">
          Create New
        </a>
      </div>

    </div>
  </div>


    <%@unions.each do |union| %>
      <div id="edit<%=union.name.tr(' ','-')%>" class="panel collapse" role="tabpanel" aria-labelledby="edit<%=union.name.tr(' ','-')%>">

        <div class="field union-info" data-union-id="<%=union.id %>">
          <h5> Union Name: </h5>
          <div class="union-name" contenteditable="true"><%=union.name %></div>
          <span class="error" hidden="true" class="union-name-error"> *Name is not valid</span>
        </div>


        <div class="field union-info" data-union-id="<%=union.id %>">
          <h5> Add some roles: </h5>
            <%@roles.each do |role| %>

              <label>            
                <div hidden="true"><%=role.id%>

                  <%= Eligibility.find_by(union_id: union.id, role_id: role.id, user_id: nil)%>

                </div>
                  <% if union.roles.include? role %>
                  <input type="checkbox" class="edit-roles" id="<%=union.id%>-<%=role.id%>" name="<%=union.id%>-<%=role.id%>" value="<%=role.name%>" data-role-id="" data-label-id="" data-eligibility-id="" checked/><%=role.name%>

                  <%else%>
                  <input type="checkbox" class="edit-roles" id="<%=union.id%>-<%=role.id%>" name="<%=union.id%>-<%=role.id%>" value="<%=role.name%>" data-role-id="" data-label-id="" data-eligibility-id=""/><%=role.name%>
                  <%end%>
              </label>
              <%end%>

        </div>


        <div class="field union-info" data-union-id="<%=union.id %>">
          <h5> Add some users: </h5>
          <%@users.each do |user| %>
              <label>            
                <div hidden="true"><%=user.id%></div>
                  <% if union.users.include? user %>
                  <input type="checkbox" class="users" id="<%=union.id%>-<%=user.id%>" name="<%=union.id%>-<%=user.id%>" value="<%=user.name%>" data-user-id="" data-label-id="" data-eligibility-id="" checked/><%=user.name%>
                  <%else%>
                  <input type="checkbox" class="users" id="<%=union.id%>-<%=user.id%>" name="<%=union.id%>-<%=user.id%>" value="<%=user.name%>" data-user-id="" data-label-id="" data-eligibility-id=""/><%=user.name%>
                  <%end%>
              </label>
          <%end%>
        </div>


        <div class="field union-info" data-union-id="<%=union.id %>">
          <h5> Delete Button</h5>
        </div>

      </div>

    <%end%>

      <div id="newUnion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="newUnion">

        Here's where you make a new one! yay!
      </div>
  </div>
