<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#editRole" aria-expanded="false" aria-controls="editRole"><span class="caret"></span> Roles</a>
    </h3>
  </div>

  <div id="editRole" class="panel panel-collapse collapse" role="tabpanel" aria-labelledby="editRole">

    <div class="list-group">
      <%@roles.each do |role| %>
        <div class="list-group-item">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#edit-role-<%=role.id%>" aria-expanded="false" aria-controls="edit-role-<%=role.id%>">
            <%= role.name %>
          </a>
        </div>
      <% end %>

      <div class="list-group-item">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#newRole" aria-expanded="false" aria-controls="newRole">
          Create New
        </a>
      </div>

    </div>
  </div>

  <%@roles.each do |role| %>
    <div id="edit-role-<%=role.id%>" class="panel panel-collapse collapse" role="tabpanel" aria-labelledby="edit-role-<%=role.id%>">

      <div class="field role-info" data-role-id="<%=role.id %>">
        <h5> Role Name: </h5>
        <div class="role-name" contenteditable="true"><%=role.name %></div>
        <span class="error" hidden="true" class="role-name-error"> *Name is not valid</span>
      </div>

      <div class="field role-info" data-role-id="<%=role.id %>">
        <h5> Add to unions: </h5>
        <%@unions.each do |union| %>
          <label>            
            <div hidden="true"><%=union.id%>
            </div>
            <% if union.roles.include? role %>
                  
              <% if union.eligibilities.find_by(role_id: role.id, user_id: nil) %>
                <input 
                  type="checkbox" 
                  class="edit-unions" 
                  id="<%=role.id%>-<%=union.id%>" 
                  name="<%=role.id%>-<%=union.id%>" 
                  value="<%=union.name%>" 
                  data-union-id="" 
                  data-label-id="" 
                  data-eligibility-id="<%= union.eligibilities.find_by(role_id: role.id, user_id: nil).id%>" 
                  checked/>
                  <%=union.name%>
              <% end %>

            <%else%>

              <input type="checkbox" class="edit-unions" id="<%=role.id%>-<%=union.id%>" name="<%=role.id%>-<%=union.id%>" value="<%=union.name%>" data-union-id="" data-label-id="" data-eligibility-id=""/><%=union.name%>

            <%end%>
          </label>

        <%end%>
      </div>

      <div class="field role-info" >
        <button class="delete-role" data-role-id="<%=role.id %>">Delete</button>
      </div>

    </div>
  <%end%>

  <div id="newRole" class="panel panel-collapse collapse" role="tabpanel" aria-labelledby="newRole">
    
    <div class="field role-info" data-role-id="">
      <h5> Role Name: </h5>
      <div class="role-name" contenteditable="true"></div>
      <span class="error" hidden="true" class="role-name-error"> *Name is not valid</span>
    </div>

    <div class="field role-info" data-role-id="">
      <h5> Add to unions: </h5>
      <%@unions.each do |union| %>

        <label>            
          <div hidden="true"><%=union.id%>
          </div>
          <input type="checkbox" class="edit-unions" id="new-role-<%=union.id%>" name="new-role-<%=union.id%>" value="<%=union.name%>" data-union-id="" data-label-id="" data-eligibility-id=""/><%=union.name%>    
        </label>

      <%end%>
    </div>

    <div class="field role-info" >
      <button class="delete-role" data-role-id="">Cancel</button>
    </div>
  </div>
</div>

