<div class="page-header">
  <h1>Admin</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#editUnion" aria-expanded="false" aria-controls="editUnion">Unions</a>
    </h3>
  </div>

  <div id="editUnion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="editUnion">

    <div class="dropdown" id="edit-union" name="union">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Union
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <%@unions.each do |union| %>
          <li>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#edit<%=union.name.tr(' ','-')%>" aria-expanded="false" aria-controls="edit<%=union.name.tr(' ','-')%>">
              <%= union.name %>
            </a>
          </li>
        <% end %>
            <li>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#newUnion" aria-expanded="false" aria-controls="newUnion">
              Create New
            </a>
            </li>
      </ul>
    </div>

    <!---TODO
      make sure the other unions collapse when one is opened -->

    <%@unions.each do |union| %>
      <div id="edit<%=union.name.tr(' ','-')%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="edit<%=union.name.tr(' ','-')%>">

        <div class="field union-info" data-union-id="<%=union.id %>">
          <h5> Union Name: </h5>
          <div class="union_input" class="union-name" contenteditable="true"><%=union.name %></div>
          <span class="error" hidden="true" class="union-name-error"> *Name is not valid</span>
        </div>

      </div>
    <%end%>

      <div id="newUnion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="newUnion">

        Here's where you make a new one! yay!
      </div>
  </div>
</div>

      <!--put dropdown of union names here -->
      <!--pulls down union's accordion?, where we can add roles? -->
      <!--and add certificates? -->

