<div class="page-header">
  <h1>Admin</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#editUnion" aria-expanded="false" aria-controls="editUnion">Unions</a>
    </h3>
  </div>

  <div id="editUnion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="editUnion">

    <div class="dropdown" id="edit-union" name="union">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Union
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <%@unions.each do |union| %>
          <li>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#edit<%=union.name.tr!(' ','-')%>" aria-expanded="false" aria-controls="edit<%=union.name%>">
              <%= union.name %>
            </a>
          </li>
        <% end %>
            <li>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#newUnion" aria-expanded="false" aria-controls="newUnion">
              Create New
            </a>
            </li>
      </ul>
    </div>


    <%@unions.each do |union| %>
      <div id="edit<%=union.name%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="edit<%=union.name%>">

        Some stuff about
        <%=union.name%>

      </div>
    <%end%>

      <div id="newUnion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="newUnion">

        Here's where you make a new one! yay!
      </div>
  </div>
</div>

      <!--put dropdown of union names here -->
      <!--pulls down union's accordion?, where we can add roles? -->
      <!--and add certificates? -->

