<div class="page-header">
  <h1>Admin</h1>
</div>

<div class="alert alert-success alert-dismissible" hidden="true" role="alert" id="delete-certificate-success"> 
  <button class="close" type="button" data-dismiss="alert"> &times;</button>
  Certificate was deleted.
</div>

<div class="alert alert-success alert-dismissible" hidden="true" role="alert" id="delete-role-success"> 
  <button class="close" type="button" data-dismiss="alert"> &times;</button>
  Role was deleted
</div>

<div class="alert alert-success alert-dismissible" hidden="true" role="alert" id="delete-union-success"> 
  <button class="close" type="button" data-dismiss="alert"> &times;</button>
  Union was deleted.
</div>

<div class="alert alert-success alert-dismissible" hidden="true" role="alert" id="delete-user-success"> 
  <button class="close" type="button" data-dismiss="alert"> &times;</button>
  User was deleted successfully. Refreshing page
</div>

<div class="alert alert-success alert-dismissible" hidden="true" role="alert" id="create-success"> 
  <button class="close" type="button" data-dismiss="alert"> &times;</button>
  Successfully created, refreshing page.
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

<%= render 'editUnions'%>

<%= render 'editRoles'%>

<%= render 'editCertificates'%>

<%= render 'editUsers'%>

<%= render 'editJobs' %>

</div>

