<div class="row" id="job_edit_form">
  <%= form_for @job, url: job_path( @job, secret: params[:secret]), :html => {:multipart => true} do |f| %>
    <div class="form-group">
      <%= f.label(:name, "Job Title:") %> 
      <%= f.text_field :name, class: "job_form form-control"%>
    </div>

    <div class="form-group">
      <%= f.label(:role_id, "Role:") %>
      <%=f.collection_select(:role_id, Role.all, :id, :name, {prompt: "Please choose.."}, {class: "job_form form-control"})  %>
    </div>

    <div class="form-group">
      <%= f.label(:description, "Job Description:") %> 
      <%= f.text_area(:description, class: "job_form form-control", size: "10x6")%>
    </div>
   
    <div class="form-group">
      <%= f.label(:company_name, "Company Name:") %> 
      <%= f.text_field :company_name, class: "job_form form-control"%>
    </div>
    
    <div class="form-group">
      <%= f.label(:starts_on, "Starts On:") %> 
      <%= f.date_field :starts_on, :placeholder =>"yyyy/mm/dd" , class: "job_form form-control"%>
    </div>
    
    <div class="form-group">
      <%= f.label(:ends_on, "Ends On:") %> 
      <%= f.date_field :ends_on, :placeholder =>"yyyy/mm/dd" , class: "job_form form-control"%>
    </div>

    <div class="form-group">
      <%= f.label(:location, "Location:") %> 
      <%= f.text_field :location, class: "job_form form-control"%>
    </div>

    <div class="form-group">
      <%= f.label(:contact_name, "Contact Name:") %> 
      <%= f.text_field :contact_name, class: "job_form form-control"%>
    </div>
    
    <div class="form-group">
      <%= f.label(:contact_phone, "Contact Phone:") %> 
      <%= f.text_field :contact_phone, class: "job_form form-control"%>
    </div>
    
    <div class="form-group">
      <%= f.label(:contact_email, "Contact Email:") %> 
      <%= f.text_field :contact_email, class: "job_form form-control"%>
    </div>

    <div class="form-group">
      <%= f.label(:job_filled, "Job Filled?") %>
      <%= f.check_box :job_filled %> 
    </div>
    </br>

    <%=submit_tag("Submit", class: "btn btn-lg btn-success",id: "edit_post_submit")%>
    <%= link_to "Cancel", jobs_path, id: "cancel_job_post", class: "btn btn-lg btn-danger " %>
    <%= link_to "Remove", job_path(@job, secret: params[:secret]), method: "DELETE", class: "btn btn-danger btn-lg", id: "delete_job_post" %>
    
  <% end %>
  
</div>

  