<div class="row" id="job_post_form">
  <%= form_for @job, :html => {:multipart => true} do |f| %>
    <div class="form-group">
      <%= f.label(:name, "Job Title * :") %>
      <%= f.text_field :name, class: "job_form form-control"%>
    </div>

    <div class="form-group">
      <%= f.label(:role_id, "Role") %>
   <!--  #f.select :role_id, options_from_collection_for_select(Role.all,:id, :name, params[:role_id]),%> -->
      <%= collection_select(:job,:role_id,Role.all,:id,:name,{prompt:"Please choose.."},{class:"form-control"}) %>
      <!-- <select name="post[author_id]">
        < % Author.all.each do |author| %>
          <option value="< %= author.id %>">< %= author.name_with_initial %></option>
        < % end %> -->
</select>

    </div>

    <div class="form-group">
      <%= f.label(:description, "Job Description(Optional):") %>
      <%= f.text_area(:description, class: "job_form form-control", size: "10x6")%>
    </div>

    <div class="form-group">
      <%= f.label(:company_name, "Production * :") %>
      <%= f.text_field :company_name, class: "job_form form-control"%>
    </div>

    <div class="form-group">
      <%= f.label(:starts_on, "Starts On * :") %>
      <%= f.date_field :starts_on, :placeholder =>"yyyy/mm/dd" , class: "job_form form-control"%>
    </div>

    <div class="form-group">
      <%= f.label(:ends_on, "Ends On (Optional):") %>
      <%= f.date_field :ends_on, :placeholder =>"yyyy/mm/dd" , class: "job_form form-control"%>
    </div>

    <div class="form-group">
      <%= f.label(:location, "Location * :") %>
      <%= f.text_field :location, class: "job_form form-control"%>
    </div>

    <div class="form-group">
      <%= f.label(:contact_name, "Contact Name * :") %>
      <% if current_user.present? %>
        <%= f.text_field :contact_name, value: current_user.name,  class: "job_form form-control"%>
      <% else %>
        <%= f.text_field :contact_name, class: "job_form form-control"%>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label(:contact_phone, "Contact Phone * :") %>
      <% if current_user.present? %>
        <%= f.text_field :contact_phone, value: current_user.phone, class: "job_form form-control"%>
      <% else %>
        <%= f.text_field :contact_phone, class: "job_form form-control"%>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label(:contact_email, "Contact Email * :") %>
      <% if current_user.present? %>
        <%= f.text_field :contact_email, value: current_user.email, class: "job_form form-control"%>
      <% else %>
        <%= f.text_field :contact_email, class: "job_form form-control"%>
      <% end %>
    </div>

    <%=submit_tag("Submit", class: "btn btn-lg btn-success",id: "post_submit")%>
    <%= link_to "Cancel", jobs_path, id: "cancel_job_post", class: "btn btn-lg btn-danger"%>


  <% end %>

</div>

