<div class="page-header">
  <h1 id="job_board">Job Board</h1>
  <%= link_to new_job_path, class: 'btn btn-primary btn-lg', id:'post_job_button' do %>
  <i class="fa fa-paper-plane-o" aria-hidden="true" style="font-weight: bold;"></i>
  Post Job
  <% end %>
</div>
  <!-- <span> Search by Roles: 
  <% #select_tag :role_id, options_from_collection_for_select(Role.all, :id, :name, params[:role_id]), prompt: 'All', class: 'form-control', id: 'job_category' %> 
   <%# render "search_location" %>
  </span> -->
 
  <div class="alert alert-info alert-dismissible" role="alert" hidden="true" id="label_not_found"></div>
  <table id="job_posts_table" cellspacing="0" class="display responsive no-wrap">
     <span> Search by Roles:
        <%= select_tag :role_id, options_from_collection_for_select(Role.all, :id, :name, params[:role_id]), prompt: 'All', class: 'form-control', id: 'job_category', data: {job_role: ""}%> 
        <%= render "search_location" %>
     </span>
    <thead>
      <tr role="row">
        <th>Company Name </th>
        <th>Title</th>
        <th>Starts on</th>    
      </tr>
    </thead>
    <tbody>
      <% for job in @jobs %>
        <tr class="job_detail" data-job-id= "<%= job.id %>">
          <td>
            <%=link_to job.company_name, job_path(job)  %>
          </td>
          <td>
            <%= link_to job.name, job_path(job) %>
          </td>
          <td>
            <%=job.starts_on.strftime("%b %d, %Y")%>            
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%#= paginate @jobs %>

<p>
  <small class="disclaimer">
    Job posts do not designate whether it is Union or Non union. It is the responsibility of the employee to find out if this job is a Union signatory show.
  </small>
</p>