<%= content_tag_for :article, @job do %>
  <header>
    <div class="job_show page-header">
      <h1>
        <%= @job.name %>
        <br/>       
      </h1>
    </div>
  </header>
  <% if @job.description.present? %>
    <div class="job_show panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Job Overview
        </h3>
      </div>    
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Job Description</dt>
          <dd>
            <%= @job.description %>
          </dd>
        </dl>
      </div>    
    </div>
  <% end %>

  <div class="job_show panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Details
      </h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Company</dt>
        <dd>
          <%= @job.company_name %>
        </dd>
        <dt>Location</dt>
        <dd>
          <%= @job.location %>
        </dd>
        <dt>Starts on</dt>
        <dd>
          <%= @job.starts_on.to_s :long %>
        </dd>
        <% if @job.ends_on.present? %>
          <dt>Ends on</dt>
          <dd>
            <%= @job.ends_on.to_s :long %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
  <div class="job_show panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Contact
      </h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>
          <%= @job.contact_name %>
        </dd>
        <dt>Phone</dt>
        <dd>
          <%= @job.contact_phone %>
        </dd>
        <dt>Email</dt>
        <dd>
          <%= @job.contact_email %>
        </dd>
      </dl>
    </div>
  </div>
  <% if @job.job_filled == true %>
    <p>
      <button class= "btn job_show btn-lg btn-block btn-danger"> Job has been filled </button>
    </p>
  <% else %>
    <p>
      <%= mail_to @job.contact_email, 'Apply', class: 'btn job_show btn-lg btn-block btn-success',subject: @job.name, body: job_url(@job) %>
    </p>
  <% end %>
  <p>
    <%= link_to "Back to Job Board", jobs_path, class: 'btn job_show btn-lg btn-block btn-primary' %>
  </p>
  <% if @authenticated %>
    <p>
      <%= link_to 'Edit', edit_job_path(@job, secret: params[:secret]), class: 'btn job_show btn-block btn-lg btn-primary' %>
    </p>
  <% end %>
<% end %>