= content_tag_for :article, @job do
  %header
    .page-header
      %h1
        = @job.name
        %br
        %small
          = @job.category.name
  = simple_format @job.description
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Details
    .panel-body
      %dl.dl-horizontal
        %dt Company
        %dd= @job.company_name

        %dt Location
        %dd= @job.location

        %dt Starts on
        %dd= @job.starts_on.to_s :long

        %dt Ends on
        %dd= @job.ends_on.to_s :long
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Contact
    .panel-body
      %dl.dl-horizontal
        %dt Name
        %dd= @job.contact_name
        %dt Phone
        %dd= @job.contact_phone
        %dt Email
        %dd= @job.contact_email

  %p
    = mail_to @job.contact_email, 'Apply', class: 'btn btn-block btn-lg btn-success', subject: @job.name, body: job_url(@job)
  - if @authenticated
    %p
      = link_to 'Edit', edit_job_path(@job, secret: params[:secret]), class: 'btn btn-block btn-lg btn-primary'
