<p hidden>
  <%= @tw_start_date = params[:tw_start_date].to_date %>

  <%= @tw_date_range = (@tw_start_date.to_date.beginning_of_week..@tw_start_date.to_date.end_of_week + 7.day).to_a %>
</p>
<div id="links_to_other_weeks">
  <!-- < % if @tw_start_date > Date.today %> -->
  <%= link_to "<<", url_for(params.merge(tw_start_date: (@tw_start_date - 14.day).to_s)), class: 'small-cal-browse', remote: true %>
  <!-- < % end %> -->
  <% if @tw_start_date.to_date.beginning_of_week.mday < (@tw_start_date.to_date.end_of_week+7.day).mday %>
    <%= I18n.t("date.month_names")[@tw_start_date.to_date.month] %> <%= @tw_start_date.to_date.year %>
  <% else %>
    <%= (I18n.t :abbr_month_names, :scope => :date)[@tw_start_date.to_date.beginning_of_week.month]+"-"+(I18n.t :abbr_month_names, :scope => :date)[(@tw_start_date.to_date.end_of_week+7.day).month] %> <%= @tw_start_date.to_date.year %>
  <% end %>
  <%= link_to ">>", url_for(params.merge(tw_start_date: (@tw_start_date + 14.day).to_s)), class: 'small-cal-browse', remote: true %>
</div>
<table>
  <thead>
    <tr>
      <% @tw_date_range.slice(0,7).each do |day| %>
        <th class="th"><%=t('date.abbr_day_names')[day.wday]%></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tw_date_range.each_slice(7).each do |week| %>
      <tr>
        <% week.each do |day| %>
          <%= content_tag :td, class: "{{{classNameByAvailability availability " + day.strftime("%Y%m%d").to_s + " " + @tw_start_date.strftime("%Y%m%d").to_s + "}}}" do %>
            <%= Date.parse(day.to_s).mday %>
            <div class="dot"></div>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>








