<h3 id="availability_header">Availability</h3>
<div class="simple-calendar">
  <div id="links_to_other_month">
    <%= link_to "<<", url_for(params.merge(start_date: @date_range.first - 1.day)), remote: true %>
    <%= I18n.t("date.month_names")[@start_date.to_date.month] %> <%= @start_date.to_date.year %>
    <%= link_to ">>", url_for(params.merge(start_date: @date_range.last + 1.day)), remote: true %>
  </div>
  <table>
    <thead>
      <tr>
        <% @date_range.slice(0,7).each do |day| %>
          <th class="th"><%=t('date.abbr_day_names')[day.wday]%></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @date_range.each_slice(7).each do |week| %>
        <tr>
          <% week.each do |day| %>
              <% if Appointment.exists?(date: day, user_id: @user.id) %>
                <div hidden><%= @availability_id = Appointment.where(date: day, user_id: @user.id).ids[0] %></div>
              <% else %>
                <div hidden><%= @availability_id = "" %></div>
              <% end %>
              <%= content_tag :td, class: @user.td_classes_for(day,@appointments), "data-user-id" => @user.id, "data-availability-id" => @availability_id do %>
                <div hidden class="today-date"><%= day.to_s %></div>
                <%= Date.parse(day.to_s).mday %>
                <div class="dot"></div>
              <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

















