<div class="panel panel-default" id="user_info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Contacts
    </h3>
  </div>
  <div class="panel-body">
      <dl>
        <dt>Name:</dt>
        <dd>
          <%= @user.name %>
        </dd>
        <dt>Phone:</dt>
        <dd>
          <%= link_to @user.phone, "tel:#{@user.phone}" %>
        </dd>
        <dt>Email:</dt>
        <dd>
          <%= mail_to @user.email %>
        </dd>
      </dl>   
    </div> 
  </div>
   
   
  <% if @user == current_user %>
    <p class="edit_user">
      <%= link_to 'Edit',  edit_user_path(@user), class: 'btn btn-block btn-lg btn-primary' %>      
    </p>
    <p class="edit_user">  
      <%= link_to new_job_path, class: 'btn btn-info btn-block btn-lg' do %>
        Post Job
      <% end %>
    </p>
  <% else %>
    <p id="contact_user">
      <%= mail_to @user.email, 'Contact', class: 'btn btn-block btn-lg btn-success' %>
    </p>
  <% end %>