<div class="panel panel-default" >
  <div class="panel-heading">

    <h3> Personal Information </h3>
      
      <div class="field" id ="info" data-user-id="<%=@user.id %>">
        <h5> Name:</h5>
        <div class="profile_input" data-profile-entry="name" id="name" contenteditable="true"><%=@user.name %></div>
        <span class="error" hidden="true" id="name-error"> *Name is not valid</span>
      </div>
      
      <div class="field">
        <h5> Phone:</h5>
        <div class="profile_input" data-profile-entry="phone" id="phone" contenteditable="true"><%=@user.phone %></div>
        <span class="error" hidden="true" id="phone-error"> *Phone number is not valid</span>
      </div>

      <div class="field">
        <h5> Email: </h5>
          <div class="profile_input" data-profile-entry="email" id="email" contenteditable="true"><%=@user.email %></div>
          <span class="error" hidden="true" id="email-error"> *Email address is not valid</span>
      </div>


      <div class ="field" data-address-id="" id="mailing_address_info">
        <h5> Mailing Address: </h5>
        <div class="profile_input" id="mailing_address" contenteditable="true">    
        <% if @addresses.find_by(type:"Mailing").present? %>
          <%= @addresses.find_by(type: "Mailing").address_input  %>
        <% end %>
        </div>
        <span class="error" hidden="true" id="mailing-address-error"> *Mailing address is not valid</span>
      </div>
        
      <div class ="field" data-billing-id="" id="billing_address_info">
        <h5> Billing Address: </h5>
        <div class="profile_input" id="billing_address" contenteditable="true">        
        <% if @addresses.find_by(type:"Billing").present? %>
          <%=@addresses.find_by(type: "Billing").address_input%>
        <% end %>
        </div>
        <span class="error" hidden="true" id="billing-address-error"> *Billing address is not valid</span>
      </div>
        
      <div class ="field" data-shipping-id="" id="shipping_address_info">
        <h5> Shipping Address: </h5>
        <div class="profile_input" id="shipping_address" contenteditable="true">
        <% if @addresses.find_by(type:"Shipping").present? %>
          <%=@addresses.find_by(type: "Shipping").address_input%>
        <% end %>
        </div>
        <span class="error" hidden="true" id="shipping-address-error"> *Shipping address is not valid</span>
      </div>

        <div class="field">
          <h5> Do you have a traffic control? </h5>           
            <% if @user.has_traffic_control_ticket == true %>           
              <input type="checkbox" name="my-checkbox" data-on-text="Yes" 
              data-off-text= "No" data-on-color="success" data-off-color="danger" checked="true" id="traffic_control" data-section="traffic_control"> 
            <% else %>
              <input type="checkbox" name="my-checkbox" data-on-text="Yes" 
              data-off-text= "No" data-on-color="success" data-off-color="danger" 
              id="traffic_control" data-section="traffic_control">  
            <% end %>
        </div>
        
        <div class= "field">
          <h5>Do you have a vehicle? </h5> 
            <% if @user.has_vehicle %>
              <input type="checkbox" name="my-checkbox" data-on-text="Yes" 
              data-off-text= "No" data-on-color="success" data-off-color="danger" 
              id="vehicle" checked="true" data-section="vehicle">
            <% else %>
              <input type="checkbox" name="my-checkbox" data-on-text="Yes" 
              data-off-text= "No" data-on-color="success" data-off-color="danger" 
              id="vehicle" data-section="vehicle" >
            <% end %>
        </div> 
        
        <div class="field">
          <h5>
            Upload Your Profile Picture
            <div> <%#=image_tag(@user.image.url(:thumb))%></div>
            <input type="file" id="upload_picture" >
            <input type="hidden" name="image_cache">
            <div id="profile_pic" hidden="true" contenteditable="true">            
            </div>
          </h5>
        </div>

        <div class="field">
          <h5> Password </h5>
          <div type="password" class="profile_input" id="password" contenteditable="true" ><%=@user.password%></div>
          <div id="password_strength_precentage" data-display="password_strength" ></div>
          <span class="error" hidden="true" id="password-error"> *Password can not be empty</span>
        </div>

        <div class="field">
            <h5> Password Confirmation </h5>
            <div class="profile_input" id="pw_confirmation" contenteditable="true"></div>
            <div id="pw_confirmation_strength_precentage"></div>
            <span class="error" hidden="true" id="pw-confirmation-error"> *Password is not valid</span>
        </div>
    </div>
  </div>     
