<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" data-eligibility-id="" id="deparments_header">
          Departments
        </a>
      </h3>
    </div>
    
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="list-group">

      <!--new code -->
        <% @unions.each do |union| %>
          <div hidden="true">
            <%=union.id %>
          </div>

          <div class="list-group-item">
            <a role="button" id="<%=union.name.tr!(' ','-')%>" data-union-name="<%=union.name%>" data-union-id="" data-toggle="collapse" href="#union-<%=union.name%>" data-role-ids="[]" data-eligibility-id="" aria-expanded="false">
              <%=union.name%>
            </a>
          </div>

          <div id="union-<%=union.name%>" class="collapse" data-union-id="">
            

         <% if (union.name == "DGC") || (union.name == "IATSE") %>

            <div id="<%=union.name.downcase%>Status" data-union-name="<%=union.name%>">
              <% if @user.eligibilities.find_by(union_id: union.id) && @user.eligibilities.find_by(union_id: union.id).permit_days != nil %>             
                  <input type="checkbox" id="<%=union.name.downcase%>_permit" data-name="permit" value="" checked/>
                  <label for="<%=union.name.downcase%>_permit"> Permit </label>
                  <span hidden="true" id="<%=union.name.downcase%>_number_days"> * Number of Days:
                    <div contenteditable="true" hidden="true" id="permit_days"><% @user.eligibilities.find_by(union_id: union.id).permit_days %></div>
                  </span>
              <% else %>
                <input type="checkbox" id="<%=union.name.downcase%>_permit" data-name="permit" value="" />
                <label for="<%=union.name.downcase%>_permit"> Permit </label>
                <span hidden="true" id="<%=union.name.downcase%>_number_days"> * Number of Days:
                  <div contenteditable="true" hidden="true" id="permit_days"></div>
                </span>
              <% end %> 

              <% if @user.eligibilities.find_by(member: true, union_id: union.id) %>

                <input type="checkbox" id="<%=union.name.downcase%>_member" data-name="member" value="true" checked/> 
              <% else %>              
                <input type="checkbox" id="<%=union.name.downcase%>_member" data-name="member" value="true" />
              <% end %>

              <label for="<%=union.name.downcase%>_member"> Member </label>
              

              <br>
            </div>

          <%end%>

            <div id="<%=union.name.downcase%>_roles">
              <%union.roles.each do |role|%>
               <% if Eligibility.find_by(user_id: @user.id, role_id: role.id, union_id: union.id) %>
                  <label for="<%=role.name%>">
                    <input 
                      type="checkbox" 
                      class="roles" 
                      id="<%=role.name%>" 
                      name="<%=role.name%>" 
                      data-user-id="<%=@user.id%>"
                      data-union-id="<%=union.id%>"
                      data-label-id="" 
                      data-rolez-id="<%=role.id%>" 
                      data-eligibility-id="<%=Eligibility.find_by(user_id: @user.id, role_id: role.id, union_id: union.id).id %>" 
                      value="<%=role.name%>" 
                      checked/>
                    <span class="label-text">
                    <%=role.name%>
                    </span>
                  </label>
                <% else %>
                    <label for="<%=role.name%>">
                      <input 
                      type="checkbox" 
                      class="roles" 
                      id="<%=role.name%>" 
                      name="<%=role.name%>" 
                      data-user-id="<%=@user.id%>"
                      data-union-id="<%=union.id%>"
                      data-rolez-id="<%=role.id%>" 
                      data-eligibility-id="" 
                      value="<%=role.name%>"/>
                      <span class="label-text">
                      <%=role.name%> 
                      </span>
                    </label>
                <%end%>


              <%end%>
            </div>

          </div>
          <%end%>
      </div>
    </div>
  </div>
          <!--new code -->
