<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" data-eligibility-id="" id="deparments_header">
        <!-- Departments -->
        Unions and Roles
      </a>
    </h3>
  </div>

  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="list-group">
    <!--new code -->
      <% @unions.order(:id).each do |union| %>
        <div hidden="true">
          <%=union.id %>
        </div>

        <div class="list-group-item">
          <a role="button" id="<%=union.name.tr(' /', '-').tr('\\','-')%>" data-union-name="<%=union.name%>" data-union-id="<%=union.id%>" data-toggle="collapse" href="#union-<%=union.name.tr(' /', '-').tr('\\','-')%>" data-role-ids="[]" data-eligibility-id="" aria-expanded="false">
            <%=union.name%>
          </a>
        </div>

        <div id="union-<%=union.name.tr(' /', '-').tr('\\','-')%>" class="collapse" data-union-id="<%=union.id%>">
        <!-- Union has both member status and permit status -->
        <% if union.has_member_status == true && union.has_permit_status == true  %>
        <%# if (union.name == "DGC") || (union.name == "IATSE") %>

          <div id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>Status" data-union-id="<%=union.id%>" class="union_status">
            <% if @user.eligibilities.find_by(union_id: union.id) && @user.eligibilities.where(union_id: union.id).where.not(permit_days: nil).first %>
                <label for="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit">
                  <input type="checkbox"
                         class="union_permit_days"
                         id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit"
                         data-name="permit"
                         value=""
                         data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase %>"
                         checked/>
                  Permit
                 </label>
                <span id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_number_days"> * Number of Days:<div contenteditable="true" id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit_days" class="permit_days_entry" data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase %>"><%= @user.eligibilities.where(union_id: union.id).where.not(permit_days: nil).first.permit_days %></div>
                </span>
            <% else %>
              <label for="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit">
                <input type="checkbox"
                      class= "union_permit_days"
                      id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit"
                      data-name="permit"
                      data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase %>"
                      value="" />
                Permit
               </label>
              <span hidden="true" id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_number_days"> * Number of Days:
                <div contenteditable="true" hidden="true" class="permit_days_entry" id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit_days" data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase %>"></div>
              </span>
            <% end %>

            <% if @user.eligibilities.find_by(member: true, union_id: union.id) %>

              <input type="checkbox"
                     class="union_member"
                     id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_member"
                     data-name="member"
                     data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase %>"
                     value="true"
                     checked/>
            <% else %>
              <input type="checkbox"
                     class="union_member"
                     id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_member"
                     data-name="member"
                     data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase %>"
                     value="true" />
            <% end %>

            <label for="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_member"> Member </label>


            <br>
          </div>

        <%elsif union.has_member_status == true %>
          <div id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>Status" data-union-id="<%=union.id%>">
            <% if @user.eligibilities.find_by(member: true, union_id: union.id) %>
              <input type="checkbox"
                      class="union_member"
                      id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_member"
                      data-name="member"
                      data-union-name= "<%=union.name.tr(' /', '-').tr('\\','-').downcase%>"
                      value="true"
                      checked/>
            <% else %>
              <input type="checkbox"
                     class="union_member"
                     id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_member"
                     data-name="member"
                     data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase %>"
                     value="true" />
            <% end %>
            <label for="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_member"> Member </label>
          </div>

        <% elsif union.has_permit_status == true %>
          <div id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>Status" data-union-id="<%=union.id%>">
            <% if @user.eligibilities.find_by(union_id: union.id) && @user.eligibilities.where(union_id: union.id).where.not(permit_days: nil).first %>
                <input type="checkbox"
                       class="union_permit_days"
                       id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit"
                       data-name="permit"
                       data-union-name="<%=union.name.downcase%>"
                       value=""
                       checked/>
                <label for="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit"> Permit </label>
                <span id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_number_days"> * Number of Days:<div contenteditable="true" id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit_days" class="permit_days_entry" data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase %>"><%= @user.eligibilities.where(union_id: union.id).where.not(permit_days: nil).first.permit_days %></div>
                </span>
            <% else %>
              <input type="checkbox"
                     class= "union_permit_days"
                     id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit"
                     data-name="permit"
                     data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase %>"
                     value="" />
              <label for="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit"> Permit </label>
              <span hidden="true" id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_number_days"> * Number of Days:
                <div contenteditable="true" hidden="true" id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_permit_days"class="permit_days_entry" data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase %>" ></div>
              </span>
            <% end %>
          </div>
        <%end%>



      <!--Roles that belong to Unions  -->
        <div id="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>_roles" class="union_roles">
          <%union.roles.distinct.order(:name).each do |role|%>
           <% if @user.eligibilities.find_by(role_id: role.id, union_id: union.id) %>
              <label for="<%=role.name%>">
                <input
                  type="checkbox"
                  class="roles"
                  id="<%=role.name%>"
                  name="<%=role.name%>"
                  data-user-id="<%=@user.id%>"
                  data-union-id="<%=union.id%>"
                  data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>"
                  data-label-id=""
                  data-rolez-id="<%=role.id%>"
                  data-eligibility-id="<%= @user.eligibilities.find_by(role_id: role.id, union_id: union.id).id %>"
                  value="<%=role.name%>"
                  data-union-has-member="<%=union.has_member_status%>"
                  data-union-has-permit ="<%=union.has_permit_status%>"
                  checked/>
                <span class="label-text">
                <%=role.name%>
                </span>
              </label>
            <% else %>
                <label for="<%=role.name%>">
                  <input
                  type="checkbox"
                  class="roles"
                  id="<%=role.name%>"
                  name="<%=role.name%>"
                  data-user-id="<%=@user.id%>"
                  data-union-id="<%=union.id%>"
                  data-union-name="<%=union.name.tr(' /', '-').tr('\\','-').downcase%>"
                  data-union-has-member="<%=union.has_member_status%>"
                  data-union-has-permit ="<%=union.has_permit_status%>"
                  data-rolez-id="<%=role.id%>"
                  data-eligibility-id=""
                  value="<%=role.name%>"/>
                  <span class="label-text">
                  <%=role.name%>
                  </span>
                </label>
            <%end%>

          <%end%>
        </div>


      </div>
    <%end%>
    </div>
  </div>
</div>
          <!--new code -->
