<div class="linkset">
<%= link_to image_tag('IMDb.png'), 'http://www.imdb.com', :class => 'link', :remote => true %>
<%= link_to image_tag('youtube.png'), 'http://www.youtube.com', :class => 'link', :remote => true %>
<%= link_to image_tag('vimeo.png'), 'http://www.vimeo.com', :class => 'link', :remote => true %>
<%= link_to image_tag('linkedIn.png'), 'http://www.linkedin.com', :class => 'link', :remote => true %>
<%= link_to image_tag('facebook.png'), 'http://www.facebook.com', :class => 'link', :remote => true %>
</div>



<!-- url_for({:controller => 'controller_name', :action => 'action_name'}), -->