<div class="page-header">
  <h1>Edit profile</h1>
</div>
  <div class = "row">
    <div class="col-md-4">
      <%= render "editpersonalinfo" %>
    </div>
    <div class= "col-md-8">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <%= render "editunion" %>
        <%= render "editcalendar" %>
        <%= render "editcertificates" %>
        <%= render "editdocumentupload" %>
      </div>
      <%= link_to "Continue to Profile Page", user_path(current_user), class: "btn btn-primary", id:"profile_page" %>
    </div>
  </div>
