<div class="page-header">
  <h1>Edit profile</h1>
</div>
  <div class = "row">
    <div class="col-md-4">
      <%= render "editpersonalinfo" %>
    </div>
    <div class= "col-md-8">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <%= render "editnotifications" %>
        <%= render "editunion" %>
        <%= render "editcalendar" %>
        <%= render "editcertificates" %>
        <%= render "editdocumentupload" %>
      </div>

        <%= link_to "Back to Profile Page", user_path(current_user), class: "profile_page btn btn-primary edit_profile_submit" %>

        <% if current_user.admin? %>
          <p class="edit_user">
          <%= link_to "Go to Admin Page",admin_index_path, class: 'profile_page btn btn-info edit_profile_submit' %>
          </p>
        <% end %>
      <!-- < % end %> -->
    </div>
  </div>
