<div class="page-header">
  <h1 id="hiring_board_title">Hiring Board</h1>
</div>

<span id="role_filter">Show me crews filter by Role: </span><%= select_tag :role_id, options_from_collection_for_select(Role.all, :id, :name, params[:role_id]), prompt: 'All', class: 'form-control', id: 'user_role', data:{selected_user_role: ""}, name: 'user_role_id'
  %>

<div class= "btn-group"> 
  <button class="btn btn-default" id="sort_by_label"> Filter By</button>
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-angle-down"></i>
  </button>
  <ul class="dropdown-menu">    
    <li id ="has_a_vehicle"><%=link_to 'Has a Vehicle', users_path(has_vechile: true), data: {selected_role_id: ""}%></li>
    <li id ="union_member"><%=link_to 'Union Status: Member', users_path(union_member: true), data: {selected_role_id: ""}%></li>
    <li id ="union_permit"><%=link_to 'Union Status: Permit', users_path(union_permit: true), data: {selected_role_id: ""}%></li>
</div>

<div class= "btn-group"> 
  <button class="btn btn-default" id="sort_by_label"> Sort By</button>
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-angle-down"></i>
  </button>
  </ul>
    <ul class="dropdown-menu">
    <li id ="available_soon"><%=link_to 'Availability(Most Recent)', users_path(available_soon: true), data: {selected_role_id: ""}%></li>
    <li id ="most_recent_log_in"><%=link_to 'Last Log In (Most Recent)', users_path(last_sign_in_at:'most_recent'), data: {selected_role_id: ""}%></li>
  </ul>
</div>
<span><button type="button" class="btn btn-danger"><%=link_to"Reset", users_path%></button>
</br>
  
<div class="alert alert-info alert-dismissible" role="alert" hidden="true" id="label_not_found"></div>

<span><%=render "user_cards" %></span>
<div id="user-list"></div>

<div id="user-pagination"><%=render "user_paging" %></div> 
<!-- <ul id="user-pagination"></ul> -->


 



