= content_tag_for :article, @user do
  %header
    .page-header
      %h1
        = @user.name
  %p
    = image_tag @user.image.url
  %p
    %ul
      - if @user.is_dgc_member?
        %li= 'DGC member'
      - if @user.has_traffic_control_ticket?
        %li= 'Has a Traffic Control Ticket'
      - if @user.has_vehicle?
        %li= 'Has a vehicle'
  %p
    = render 'calendar'

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Contacts
    .panel-body
      %dl.dl-horizontal
        %dt Name
        %dd= @user.name
        %dt Phone
        %dd= link_to @user.phone, "tel:#{@user.phone}"
        %dt Email
        %dd= mail_to @user.email

  %p
    = mail_to @user.email, 'Contact', class: 'btn btn-block btn-lg btn-success'
  - if @user == current_user
    %p
      = link_to 'Edit', edit_registration_path(@user), class: 'btn btn-block btn-lg btn-primary'
