<div class= "container" id="user_login">
  <header id="login_header"> Log in to Crew Call</header>
    <div class="login">
      <button class="facebook btn-block btn-primary">
        <%= link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook), id: "sign_in_facebook" %>
      </button>
      </br>
      <%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
        <%= f.input :email, placeholder: "Email", label:false, input_html: { autofocus: true } %>
        <%= f.input :password, placeholder: "Password", label:false, input_html: { autocomplete: 'off' } %>
        <%= f.input :remember_me, as: :boolean %>
        <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'btn btn-block' %>
        <%= f.button :submit, 'Log in', class: 'btn-block login_button' %>    
      <%end %>
    <div>
        <span><%=link_to "Sign Up Now", new_user_registration_path,class: 'btn btn-block'  %></span>

</div> 


