<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
                  <span>Crew</span>Call

      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to 'Job Board', jobs_path %>
        </li>
        <li>
          <%= link_to 'Crew', users_path %>
        </li>
        <li>
          <%= link_to "Shopify", "http://paxgear.myshopify.com/collections/all" %>
        </li>

        <li>
          <%= link_to "Post Job", new_job_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Profile', user_path(current_user) %>
          </li>
          <li>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Log in', new_session_path(:user) %>
          </li>
          <li>
            <%= link_to 'Sign up',new_user_registration_path(:user) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>